@import "../m.css";
*{
    font-family: vazir;
    direction: rtl;
    
}
:root {
    --black:#282828;
    --yellow:#F2BB13;        
    --with:#FFFFFF;      
    --bac:#919191;
}
.btn-custom {
    background: var(--yellow);
    color: var(--black);
    border-radius: 8px;
}

@font-face {
    font-family: vazir;
    src: url("../font/Vazir.ttf");
}
@font-face {
    font-family: vazirB;
    src: url("../font/Vazir-Bold.woff");
}
body {
    background: var(--with);
}
/* #icoun {
    position: relative;
    left: 50px;
} */
#icoun a {
    margin: 10px;
    font-size: 20px ;
    color: var(--with) !important;
}
#nav {
    background: var(--black);
   
    
}
#nav a {
    color: var(--with);
    font-size: 18px;
}
#dropdown {
    background: var(--black);
}
#dropdown a {
    color: var(--with);
    font-size: 16px;
    margin: 5px 0;
    font-weight: 500;
}
#dropdown a:hover {
    background: var(--black);
}
.btn-custom {
   padding: 15px 3rem;
   
}
#btn-right {
    margin-top:50px ;
}
#header-right p {
    font-size:16px;
    font-weight: 400;
    
    margin-top: 20px;
    line-height: 40px;
}
#header-right h1 {
    font-size: 25px !important;
    font-weight: 700;
    line-height: 53.91px;
   
}
.mod {
    margin-top: 50px;
}
#port {
    background: var(--black);
    padding: 30px;

}
div h4 {
    color: #FFFFFF;
}
#ri {
    position: relative;
    width: 60px;
    height: 8px;
    background: var(--yellow);
    border-radius:100px;
    margin: 0 45px;
    top: 15px;

}
div h2 {
    font-size: 40px;
    font-weight: 500;
    margin: 15px 0;
}
#footer p {
    margin: 10px 0;
}
/* #a2 a {
    font-size: 15px ;
} */
#if {
    color: var(--black);
    font-size: 25px;
}
#foot {
    background: var(--black);
}
#foot a {
    color: var(--with);
    font-size: 20px;
}
#foot p {
    color:var(--with);
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
}
form {
    background: var(--black);
    /* width: 604px !important;
    height: 569 !important; */
    border-radius: 24px;
}
label {
    color: var(--with);

}
div input {
    border-radius: 12px !important;
}
.close {
    color: #FFFFFF;
}
::-webkit-scrollbar {
    width: 15px;
    
  }
  ::-webkit-scrollbar-thumb {
      background: #F2BB13;
      border-radius: 30px;
  }
  ::-webkit-scrollbar-track {
 display: none;    
}
.fotbtn {
    font-size: 18px !important;
}
#icoun a i:hover {
    
    animation: lds-dual-ring 1.2s linear infinite;
    transform: scale(1.1);
    animation-name: linkedin-icon;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
      /* content: " "; */
  /* display: block; */
  /* width: 100px;
  height: 100px;
  margin: 8px;
  border-radius: 50%;
  border-color: #5660f2 transparent;
  border-style: solid; */
  /* border-width: 2px; */
  /* -webkit-animation: lds-dual-ring 1.2s linear infinite; 
  /* animation: lds-dual-ring 1.2s linear infinite;*/
  }

  @keyframes linkedin-icon {
    100% {
      
      color:#0077B5 ;
    }
  }
  
